::ng-deep table.dataTable td.dataTables_empty {
    display: none;
}
::ng-deep tr.odd
{
    display: none;
}
::ng-deep tr.even
{
    display: none;
}

  
::ng-deep .sml_input
{
height: calc(1.5em + 1rem);
padding:0px 9px;
margin-left: 2px;
}

@media print {
    ::ng-deep .hide_print {
      display: none !important;
    }
  }

  .serch-btn i.fa-info-circle {
  color: #53545d !important;
  padding-left: 10px;
  font-size: 14px;
  cursor: pointer;
}

.cancel-btn-kis i.fa-info-circle {
  color: #53545d !important;
  padding-left: 7px;
  font-size: 14px;
  cursor: pointer;
}

