.otp-msg {
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #808080;
}
.send-otp{
    font-size: 13px;
    color: #e74c3c;
}

.footer-card p {
    color: #545454;
    font-size: 14px;
    margin-bottom: 0;
}
.r-time{
    color: #ff0000;
}

.otp-box {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.otp-box input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
}