<div class="auth-wrapper">
    <div class="auth-content text-center">
      <img src="assets/images/odbus-logo.svg" alt="" class="img-fluid mb-4">
      <div class="card borderless">
        <div class="row align-items-center text-center">
          <div class="col-md-12">
            <div class="card-body">
                <form class="form-horizontal"[formGroup]="otpForm" (ngSubmit)="onSubmit()">
                     <ngb-alert *ngIf="alert!=''">
                        {{ alert }}
                      </ngb-alert>
                      <div class="otp-msg">OTP has been send to: {{mobileNo}}</div>
                      <div class="form-group phone">
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <!-- <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span> -->
                                <input type="text" class="form-control"  formControlName="otp" id="otp" placeholder="Enter OTP here" />
                                <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">
                                    <div *ngIf="f.otp.errors.required">OTP is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group login-app center ">
                        <button class="btn btn-block btn-primary mb-4" type="submit">Verify</button>
                    </div>
                     <!-- <p class="text-center" *ngIf="ResendTimer">
                        Resend OTP after <countdown #countdown [config]="{leftTime: Timer, format: 'ss' }" (event)="handleEvent($event)"></countdown> Seconds..
                     </p>                                          -->
                     <!-- <p class="text-center">Already Registered? <a class="formlink" routerLink="/otp">Login</a> </p>    -->
                    <!-- <p class="text-center" *ngIf="ResendOtp" >Did not receive the Code? <a class="formlink cursor"(click)="resend_otp()"> Resend OTP  </a> </p>  -->
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>











