.otp-msg {
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #808080;
}
.send-otp{
    font-size: 13px;
    color: #e74c3c;
}

.footer-card p {
    color: #545454;
    font-size: 16px;
    margin-bottom: 0;
}
.r-time{
    color: #051288;
}