::ng-deep table.dataTable td.dataTables_empty {
    display: none;
}
::ng-deep tr.odd
{
    display: none;
}
::ng-deep tr.even
{
    display: none;
}


  
::ng-deep .sml_input
{
height: calc(1.5em + 1rem);
padding:0px 9px;
margin-left: 2px;
}


::ng-deep .seaterImage
{
    width: 35px;
    height: 27px;
    background: url('../../../assets/images/seater.png') no-repeat;
    display:flex;
    
}
::ng-deep .seatHolder
{
    cursor: pointer;
}
::ng-deep .seatHolder input
{
    display: none;
}
::ng-deep .seatHolder input[type="checkbox"]:checked + .seaterImage {
    background: url('../../../assets/images/seater-available.png') no-repeat center center;
    cursor:pointer;
}


::ng-deep .seatHolder input[type="checkbox"]:disabled + .seaterImage {
    background: url('../../../assets/images/seater_none.png') no-repeat center center;
    cursor:not-allowed;
}

::ng-deep .sleeperImage
{
    width: 45px;
    height: 27px;
    background: url('../../../assets/images/sleeper.png') no-repeat center center;
    display:flex;
}
::ng-deep .seatHolder input[type="checkbox"]:checked + .sleeperImage {
    background: url('../../../assets/images/sleeper-available.png') no-repeat center center;
    cursor:pointer;
}

::ng-deep .seatHolder input[type="checkbox"]:disabled + .sleeperImage {
    background: url('../../../assets/images/sleeper_none.png') no-repeat center center;
    cursor:not-allowed;
}

::ng-deep .verticalImage
{
    width: 35px;
    height: 45px;
    background: url('../../../assets/images/vertical.png') no-repeat center center;
    display:flex;
}


::ng-deep .seatHolder input[type="checkbox"]:checked + .verticalImage {
    background: url('../../../assets/images/vertical-available.jpg') no-repeat center center;
    cursor:pointer;
}
::ng-deep .seatHolder input[type="checkbox"]:disabled + .verticalImage {
    background: url('../../../assets/images/vertical_none.png') no-repeat center center;
    cursor: not-allowed;
}

::ng-deep .blankImage
{
    width: 35px;
    height: 27px;
    background: url('../../../assets/images/noborderblank.png') no-repeat center center;
    display:flex;
    cursor:none;
}
::ng-deep select:disabled {
    cursor: not-allowed;
}
::ng-deep .dropdown-item:hover > .text-c-green
{
    color: #FFF;
}


@media print {
    ::ng-deep .hide_print {
      display: none !important;
    }
  }


//   Chnages By Siraz

.box_height{
  height: 300px;
}

/* DATE ALIGNMENT FIX ONLY */
.datelist label {
  display: inline-flex;
  align-items: center;   /* checkbox + date same line */
  justify-content: center;
}

/* checkbox ko text ke center me lao */
.datelist input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 5px
}


// @media screen 
// and (min-width: 375px) 
// and (max-width: 667px) 
// and (orientation: landscape) {
//   .bus-transform {
//     margin-top: 10px;
//     }
// }

// @media screen 
// and (min-width: 300px) 
// and (max-width: 400px) 
// and (orientation: portrait) {
//   .bus-transform {
//     transform: rotate(90deg);
//     margin-top: 60px;
//     }
// }


// @media screen 
// and (min-width: 375px) 
// and (max-width: 667px) 
// and (orientation: portrait) {
//   .bus-transform {
//     transform: rotate(90deg);
//     margin-top: 60px;
//     }
// }
// @media screen 
// and (min-width: 414px) 
// and (max-width: 896px) 
// and (orientation: portrait) {
//   .bus-transform {
//     transform: rotate(90deg);
//     margin-top: 70px;
//     }
// }
// @media screen 
// and (min-width: 430px) 
// and (max-width: 932px) 
// and (orientation: portrait) {
//   .bus-transform {
//     transform: rotate(90deg);
//     margin-top: 80px;
//     }
// }
// @media screen 
// and (min-width: 360px) 
// and (max-width: 740px) 
// and (orientation: portrait) {
//   .bus-transform {
//     transform: rotate(90deg);
//     margin-top: 80px;
//     }
// }
// @media screen 
// and (min-width: 412px) 
// and (max-width: 915px) 
// and (orientation: portrait) {
//   .bus-transform {
//     transform: rotate(90deg);
//     margin-top: 60px;
//     }
// }
@media screen 
and (min-width: 768px) 
and (max-width: 1024px) 
and (orientation: portrait) {
  .bus-transform {
    margin-top: 110px;
    }
}

@media screen 
and (min-width: 1024px) 
and (max-width: 1366px) 
and (orientation: portrait) {
  .bus-transform {
    margin-top: 10px;
    }
}

@media screen 
and (min-width: 320px)
and (max-width: 320px)
and (min-height: 768px)
and (max-height: 768px)
and (orientation: portrait) {

  .mobile-btn {
    height: 50px;
  }

}

@media screen and (max-width: 425px) {
  #print-section {
    margin-top: 15px;
  }
}

@media (max-width: 425px) {
  .datelist label {
    justify-content: center;
  }
}


.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.tabs button {
  border: none;
  padding: 6px 25px;
  margin-top: 5px;
  background: #d6d6d6;
  cursor: pointer;
  // margin: 0 5px;
  // border-radius: 5px;
}

.tabs button.active {
  background: #003a8f;
  color: rgb(195, 195, 195);
}

// Chnages By Siraz

@media screen 
and (min-width: 320px)
and (max-width: 375px)
and (orientation: portrait)
and (orientation: portrait) {
  .bus-transform {
    transform: rotate(90deg);
    margin-top: 60px !important;
    }
}

@media screen 
and (min-width: 375px)
and (max-width: 425px)
and (orientation: portrait)
and (orientation: portrait) {
  .bus-transform {
    transform: rotate(90deg);
    margin-top: 90px !important;
    }
}

@media screen 
and (min-width: 425px)
and (max-width: 768px)
and (orientation: portrait)
and (orientation: portrait) {
  .bus-transform {
    transform: rotate(90deg);
    margin-top: 110px !important;
    }
}

@media screen 
and (min-width: 768px)
and (orientation: portrait)
and (orientation: portrait) {
  .bus-transform {
    transform: rotate(90deg);
    margin-top: 150px !important;
    }
}


@media screen 
and (min-width: 320px)
and (max-width: 320px)
and (min-height: 768px)
and (max-height: 768px)
and (orientation: portrait) {

  .mobile-btn {
    height: 50px;
  }

}

@media screen and (max-width: 425px) {
  #print-section {
    margin-top: 15px;
  }
}
