table {
    font-size: 12px !important;
    ;
}

@media only screen and (max-width: 800px) {
    img#main-logo {
        width: 35% !important;
        margin-left: 10px;
    }

    // @media only screen and (min-width: 430px) and (max-width: 768px) {
    //     img#main-logo {
    //         width: 40% !important;
    //         margin-left: 10px;
    //     }
    // }
}