::ng-deep .tooltip-inner
{
    max-width: max-content;
}


::ng-deep .sml_input
{
height: calc(1.5em + 1rem);
padding:0px 9px;
margin-left: 2px;
}

::ng-deep .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  ::ng-deep  .custom-day.focused {
    background-color: #e6e6e6;
  }
  
  ::ng-deep   .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }
  ::ng-deep  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
  ::ng-deep button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
  }

  ::ng-deep .table-responsive{
    min-height: 400px;
  }

  ::ng-deep .ngb-dp-day.hidden
  {
    display: block !important;
  }
  
  @media print {
    ::ng-deep .hide_print {
      display: none !important;
    }
  }


  .tableFixHead {
    overflow-y: auto;
    height: 800px;
  }
  
  .tableFixHead table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .tableFixHead th,
  .tableFixHead td {
    padding: 8px 16px;
  }
  
  .tableFixHead th {
    position: sticky;
    top: 0;
    background: #eee;
  }
  
  .tableFixHead tbody tr{
     position: inherit;
  }

  