::ng-deep table.dataTable td.dataTables_empty {
    display: none;
}
::ng-deep tr.odd
{
    display: none;
}
::ng-deep tr.even
{
    display: none;
}

@media print {
    ::ng-deep .hide_print {
      display: none !important;
    }
  }


    
  ::ng-deep .sml_input
  {
  height: calc(1.5em + 1rem);
  padding:0px 9px;
  margin-left: 2px;
  }

  .flex {
    display: flex;
}


  // Chnages By Siraz

@media screen 
and (min-width: 412px) 
and (max-width: 915px) 
and (orientation: portrait) {
  .bus-transform {
    margin-top: 110px !important;
    }
}

@media screen 
and (min-width: 768px) 
and (max-width: 1024px) 
and (orientation: portrait) {
  .bus-transform {
    margin-top: 160px !important;
    }
}

@media screen 
and (min-width: 320px)
and (max-width: 320px)
and (min-height: 768px)
and (max-height: 768px)
and (orientation: portrait) {

  .mobile-btn {
    height: 50px;
  }

}

@media screen and (max-width: 425px) {
  #print-section {
    margin-top: 15px;
  }
}
