<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="timer" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="row">
  <div class="col-sm-12">
    <app-card [hidHeader]="false" cardTitle="BUS SCHEDULE" cardClass="card-datatable" [options]="false" cardClass=" table-border-style user-profile-list " [isCardFooter]="true">

        <section *ngIf="showSection" class="my-section">
          <form [formGroup]="searchForm">
            <div class="row">

              <div class="col-6 col-sm-6 col-md-6  col-lg-3 col-xl-3">
                <div class="form-group">
                   <select class="form-control sml_input" formControlName="rows_number" (change)=search()>
                    <option value=10>10</option>
                    <option value=25>25</option>
                    <option value=50>50</option>
                    <option value=100>100</option>
                    <option value='all'>All</option>
                  </select>
                </div>
              </div>

              <div class="col-6 col-sm-6 col-md-6  col-lg-3 col-xl-3">
                <div class="form-group">
                   <input type="date" class="form-control sml_input" formControlName="date" placeholder="Choose A Date">
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-6  col-lg-3 col-xl-3">
                <div class="form-group">
                   <ng-select [items]="buses" bindLabel="testing" bindValue="id" placeholder="Select Bus" formControlName="bus_id" [clearable]="false" required> </ng-select>
                </div>
              </div>

              <div class="col-12 col-sm-6 col-md-6  col-lg-3 col-xl-3 kis-center">
                <div class="form-group">
                  <button type="button" class="btn btn-success btn-sm sml_input" (click)="search()" title="search"> <i class="fas fa-search"> </i> Search </button>
                  <button type="button" class="btn btn-warning btn-sm sml_input" (click)="refresh()" title="refresh"> <i class="fas fa-sync-alt"> </i> Refresh </button>
                </div>
              </div>


            </div>
          </form>
        </section>  

      <button type="button" class="cancel-btn-kis sml_input cancel-btn" (click)="ResetAttributes();OpenModal(content)">Add Schedule</button>
      <button class="serch-btn" (click)="toggleSection()"><i class="fas fa-filter "></i> &nbsp; Search</button>

        <div class="no-bdr text-right mt-3">
          <div class="card-header-right" >
              <div class="btn-group card-option small-btn">
                  <button  type="button" title="Export" class="btn btn-warning sml_input"><i  class="fas fa-file-export"></i> Export</button>
                  <button  type="button" title="Excel" class="btn btn-primary sml_input"><i  class="fas fa-folder"></i> Excel</button>
                  <button  type="button" title="PDF" class="btn btn-info sml_input"><i  class="fas fa-file"></i> PDF</button>
                  <button  type="button" title="Print" class="btn btn-danger sml_input"><i  class="fas fa-print"></i> Print</button>
              </div>
          </div>
        </div>
       
      <style>
        table {
               font-size: 12px !important;;
           }

       @media only screen and (max-width: 600px) {
           table {
               font-size: 11px !important;
               font-weight: bold;
               
           }
           th{
               padding: 1px !important;
           }
           td{
               padding: 1px !important;
           }
           .mob{
            text-align: center !important;
           }
          
}
   </style>
      <div class="table-responsive" id="print-section">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <!-- <th>Operator</th>
              <th>Source</th>
              <th>Destination</th> -->
              <th style="min-width: 100px;">Bus Details</th>
              <th style="width: 180px;">Created On</th>
              <!-- <th>Created By</th>
              <th>Status</th> -->
              <th width="100" class="hide_print">&nbsp;</th>
            </tr>
          </thead>
          <tbody *ngIf="busSchedules?.length != 0">
            <tr *ngFor="let busSchedule of busSchedules; let i=index; ">
              <td style="min-width: 15px !important;">{{ i+1 }} </td>
              <!-- <td (click)="showEntryDates($event,i);OpenModal(schedulecontent);">{{
                busSchedule.bus.bus_operator.organisation_name }} [{{ busSchedule.bus.bus_operator.operator_name }}]
              </td> -->

              <!-- <td *ngIf="busSchedule.from_location!='' && busSchedule.from_location!=null">
                {{busSchedule.from_location[0].name}}
              </td> -->

              <!-- <td *ngIf="busSchedule.from_location!='' && busSchedule.from_location!=null">
                {{busSchedule.to_location[0].name}}
              </td> -->

              <td *ngIf="busSchedule.from_location=='' || busSchedule.from_location==null">
                ----no data-----
              </td>
              <td (click)="showEntryDates($event,i)">{{ busSchedule.bus.bus_number }}<br>
                <span *ngIf="busSchedule.from_location!='' && busSchedule.from_location!=null">{{busSchedule.from_location[0].name}}</span> >> 
                <span *ngIf="busSchedule.from_location!='' && busSchedule.from_location!=null">{{busSchedule.to_location[0].name}}</span> 
              </td>
              <td>{{ busSchedule.updated_at| date: 'dd/MM/yyyy' }}</td>
              <!-- <td>{{ busSchedule.created_by }}</td>
              <td>
                <label *ngIf="busSchedule.status==1" class="badge badge-light-primary pointer text-dark"
                  (click)="changeStatus($event, busSchedule.id);">Active</label>
                <label *ngIf="busSchedule.status==0" class="badge badge-light-danger pointer  text-dark"
                  (click)="changeStatus($event, busSchedule.id);">Pending</label>
              </td> -->
              <td class="hide_print flex">
                    
                          <span type="button "   (click)="showEntryDates($event,i);editBusSchedule($event, i); OpenModal(content);"  class=" p-2 "> 
                            <i class="fa fa-edit " aria-hidden="true"></i>
                        </span>

                          <span type="button btn btn-danger" (click)="deleteBusSchdule(confirmDialog,busSchedule.id)"
                          class=" p-2  float-right"> 
                            <i class="fa fa-trash " aria-hidden="true"></i>
                        </span>
                       
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="busSchedules?.length == 0">
            <tr>
              <td colspan="6" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </table>
        <div *ngIf="pagination?.length!= 0" class="hide_print container">
          <div class="row">
            <div class="col-md-6">
              <div class="col-12">
                <p class=" row mt-3 ml-1"> Showing {{all?.count}} of {{all?.total}} records. </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex flex-row-reverse mb-4 text-center" *ngIf="pagination?.links">
                <nav class="my-1 pt-1 ">
                  <ul class="pagination pagination-circle pg-blue mb-0">
                    <li (click)="search(pagination.first_page_url,statusLabel)"
                      class="page-item {{ pagination.current_page == 1 ? 'disabled' : '' }} clearfix d-none d-md-block">
                      <a class="page-link">First</a>
                    </li>
                    <li class="page-item " *ngFor="let b of pagination.links ; let i = index ">
                      <a class="page-link {{ pagination.current_page == b.label ? 'active' : '' }}"
                        (click)="(b.url) ? search(b.url) : ''" [innerHTML]="page(b.label)"></a>
                    </li>
                    <li class="page-item {{ pagination.last_page == 1 ? 'disabled' : '' }} clearfix d-none d-md-block"
                      (click)="search(pagination.last_page_url,statusLabel)">
                      <a class="page-link">Last</a>
                    </li>
                  </ul>
                </nav>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="app-card-footer">



      </div>
    </app-card>

    <ng-template #confirmDialog let-modal>
      <div class="modal-header">
        <h5 class="ng-tns-c116-5"> Would you Like to Delete the Record??</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-material">
              <div class="right-icon-control">
                Would you Like to Delete the Record
                <form [formGroup]="formConfirm" class="editForm" novalidate>
                  <input type="hidden" formControlName="id">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="deleteRecord()" class="btn btn-primary" ngbAutofocus>Confirm Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
          (click)="modal.dismiss('Cross click')">Cancel</button>
      </div>
    </ng-template>
    <button type="button" #addnew class="btn btn-primary btn-add-task m-t-10 invisible" id="modal"
      (click)="ResetAttributes();findOperator();OpenModal(content);">Add</button>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h5 class="ng-tns-c116-5"> {{ModalHeading}} </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" style="height: 500px;">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-material">
              <div class="right-icon-control">
                <form [formGroup]="busScheduleForm" class="editForm" novalidate>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label for="busname" class="col-sm-2 col-form-label">Bus Name<span
                            class="text-danger">*</span></label>
                        <div class="col-sm-10">
                          <ng-select [items]="buses" bindLabel="testing" bindValue="id" placeholder="Select Bus"
                            [clearable]="false" required formControlName="bus_id" #bus
                            (change)="getBusScheduleEntryDatesByBusId($event)">
                          </ng-select>
                          <span class="text-danger"
                            *ngIf="busScheduleForm.controls['bus_id'].touched && busScheduleForm.controls['bus_id'].hasError('required')">
                            Bus Name is required!
                          </span>
                        </div>
                      </div>
                    </div>
                   
                    
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="busSchedule" class="col-sm-4 col-form-label">Entry Date<span
                            class="text-danger">*</span></label>
                        <div class="col-sm-8">
                          <input type="date" data-date="" data-date-format="DD MM YYYY" class="form-control"
                            placeholder="Enter Entry Date" required formControlName="entry_date"
                            [value]="busScheduleRecord.entry_date" />
                          <span class="text-danger"
                            *ngIf="busScheduleForm.controls['entry_date'].touched && busScheduleForm.controls['entry_date'].hasError('required')">
                            Entry Date is required!
                          </span>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-md-6">
                      <div class="form-group row" style="height:150px;">
                        <label for="busSchedule" class="col-sm-3 col-form-label">Running Cycle<span
                            class="text-danger">*</span></label>
                        <div class="col-sm-9">
                          <ng-select [items]="runningCycles" bindLabel="running_cycle" placeholder="Select runningCycle"
                            [clearable]="false" required formControlName="running_cycle">
                          </ng-select>
                          <span class="text-danger"
                            *ngIf="busScheduleForm.controls['running_cycle'].touched && busScheduleForm.controls['running_cycle'].hasError('required')">
                            Running Cycle is required!
                          </span>

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-12">
                      <label *ngFor="let entryDate of busScheduleRecord.bus_schedule_date;" class="col-2">
                        {{entryDate.entry_date}}
                      </label>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" [disabled]="!busScheduleForm.valid" (click)="addBusSchedule()" class="btn btn-primary"
          ngbAutofocus>{{ModalBtn}}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
          (click)="modal.dismiss('Cross click')">Close</button>
      </div>
    </ng-template>

    <ng-template #unschedule let-modal>
      <div class="modal-header">
        <h5 class="ng-tns-c116-5">NO OF UNSCHEDULE BUS LIST = <span *ngIf="unSubscribeData?.length != 0"
            class="text-danger" style="font-size: 25px;;">{{unSubscribeData.length}}</span> </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-material">
              <div class="right-icon-control">
                <div class="table-responsive" id="print-section">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Bus Id</th>
                        <th>Operator Details</th>
                        <th>Bus Details</th>
                        <th>VIA</th>
                        <th style="width: 180px;">Created/Updated On</th>
                        <th>Created By</th>
                        <!--  <th>Status</th> -->
                      </tr>
                    </thead>
                    <tbody *ngIf="unSubscribeData?.length != 0">
                      <tr *ngFor="let unSchedule of unSubscribeData; let i=index; ">
                        <td>{{unSchedule.id}}</td>
                        <td>{{unSchedule.bus_operator.operator_name}}<br>{{unSchedule.bus_operator.organisation_name}}
                        </td>
                        <td>{{unSchedule.name}}<br>{{unSchedule.bus_number}}</td>
                        <td>{{unSchedule.via}}</td>
                        <td>{{unSchedule.updated_at | date: 'dd/MM/yyyy'}}</td>
                        <td>{{unSchedule.created_by}}</td>

                        <!-- <td>{{i+1}}</td> -->
                      </tr>
                    </tbody>
                    <tbody *ngIf="unSubscribeData?.length == 0">
                      <tr>
                        <td colspan="6" class="no-data-available">No data!</td>
                      </tr>
                    <tbody>
                  </table>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
          (click)="modal.dismiss('Cross click')">Close</button>
      </div>
    </ng-template>





    <ng-template #schedulecontent let-modal>
      <div class="modal-header">
        <h5 class="ng-tns-c116-5">{{busScheduleRecord.bus.name}} [ {{busScheduleRecord.bus.bus_number}} ] -
          <span class="text-danger"> ( {{busScheduleRecord.from_location[0].name}} <i
              class="fa fa-solid fa-arrow-right"></i> {{busScheduleRecord.to_location[0].name}} )</span>
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

        <!-- Bus Schedule Info -->
        <div class="row">
          <div class="col-sm-12" *ngIf="showdates==1">
            <label *ngFor="let entryDate of busScheduleRecord.bus_schedule_date;" class="col-2">
              {{entryDate.entry_date}}
            </label>
          </div>
        </div>
        <!-- // // -->
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-default" data-dismiss="modal" #defaultClick
          (click)="modal.dismiss('Cross click')">Close</button>
      </div>
    </ng-template>


  </div>