.mobile-display {
    background: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 0px 0px 9px 0px;
    box-shadow: 0 -2px 6px 0 #0009;
    display: none;
}
.mobile-display ul{
    padding: 0;
    margin: 0;
}
.mobile-display ul li{
    display: inline-block;
    list-style-type: none;
}
.mobile-display ul li a{
   font-size: 12px;
    color: #000;
    padding: 9px 10px 0px 10px;
    display: block;
    line-height: 22px;
}
.mobile-display ul li a span{
    display: block;
    list-style-type: none;
    font-size: 20px;
}

.mobile-menu-list {
        background: #e7eaeb;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 0;
    top: 50px;
    height: 90%;
}
.mobile-menu-list ul {
    margin: 0;
    padding: 0;
}
.mobile-menu-list li {
    list-style-type: none;
}
.mobile-menu-list a {
    background-color: #fff;
    display: block;
    color: #072c6b;
    padding: 8px 18px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    border-radius: 4px;
}

@media only screen and (max-width: 599px) {
    .mobile-display {
        display: block;
    }
    .mobile-menu{
        display: none;
    }
}   