<app-navigation class="pcoded-navbar" [ngClass]="{'navbar-collapsed' : navCollapsed, 'theme-horizontal': this.flatConfig['layout'] === 'horizontal', 'mob-open' : navCollapsedMob}" (onNavMobCollapse)="navMobClick()"></app-navigation>
<app-nav-bar class="navbar pcoded-header navbar-expand-lg navbar-light" (onNavCollapse)="this.navCollapsed = !this.navCollapsed;" (onNavHeaderMobCollapse)="navMobClick()"></app-nav-bar>
<div class="pcoded-main-container">
    <div class="pcoded-content" [ngClass]="{'container': this.flatConfig.layout === 'horizontal' && this.flatConfig.subLayout === 'horizontal-2'}">
      <app-breadcrumb></app-breadcrumb>
      <router-outlet></router-outlet>
    </div>
</div>





<div class="card card mb-0 pb-0 footer-mar">
  <div class="card-body text-center ">
    All Rights Reserved @ SEOFIED IT SERVICES PVT. LTD.
  </div>
</div>

<div class="mobile-menu-list my-section" *ngIf="showSection" >
  <ul>
    <li><a href="#/dashboard" (click)="closeMenu()">Dashboard</a></li>    
    <li><a href="#/busmanagement/busschedule" (click)="closeMenu()">Bus Schedule</a></li>
    <li><a href="#/busmanagement/extraseatblock" (click)="closeMenu()">Extra Seat Block</a></li>
    <li><a href="#/bookingmanagement/buscancellation" (click)="closeMenu()">Bus Cancellation</a></li>   
    <li><a href="#/bookingmanagement/ownerfare" (click)="closeMenu()">Manage Fare</a></li>
    <li><a href="#/bookingmanagement/ownerfare" (click)="closeMenu()">Logout</a></li>
  </ul>
</div>

<div class="mobile-display">
  <ul>
    <li><a href="#/bookingmanagement/seatblock" (click)="closeMenu()"  [class.active]="isActive('seatblock')"><span><i class="feather icon-x-circle"></i></span>Seat Block</a></li>
    <li><a href="#/bookingmanagement/seatopen" (click)="closeMenu()" [class.active]="isActive('seatopen')"><span><i class="feather icon-check-square"></i></span>Seat Open</a></li>
    <li><a href="#/reports/completeReport" (click)="closeMenu()" [class.active]="isActive('completeReport')"><span><i class="feather icon-crosshair"></i></span>Booking Report</a></li>
    <li><a (click)="toggleSection()"><span><i class="feather icon-list"></i></span>Menu</a></li>
  </ul>
</div>
