::ng-deep .removebtn {
  margin-top: 8px;
  float: left;
}
::ng-deep .addbtn {
  float: left;
}
::ng-deep .dt-buttons {
  margin-left: 20px;
}
::ng-deep body {
  padding: 0px;
  margin: 0px;
}
::ng-deep .ng-select {
  border: 2px solid rgba(0, 0, 0, 0.15);
}
::ng-deep .ng-select .ng-select-container {
  border: none;
}
::ng-deep .ng-dropdown-panel.ng-select-top {
  text-align: left;
}
::ng-deep img#main-logo {
  width: 69%;
}
::ng-deep
  .pcoded-navbar
  .pcoded-inner-navbar
  app-nav-group:first-child
  > .pcoded-menu-caption {
  margin-top: -26px !important;
}
::ng-deep .page-link {
  cursor: pointer;
}

.custom-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bus-loader {
  position: relative;
  width: 60px;
  height: 60px;
}

.loader-ring {
  position: absolute;
  inset: 0;
  border-radius: 50%;

  background: conic-gradient(#001b54 0deg 300deg, transparent 300deg 360deg);

  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 4px),
    #000 calc(100% - 4px)
  );

  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 4px),
    #000 calc(100% - 4px)
  );

  animation: spin 0.9s linear infinite;
}

.bus-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #0b1040;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
