ol {
    list-style: none;
    padding-left:12px;
    margin: 0;
    }
    
    .sleepers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    }
    
    .sleeper {
      display: flex;
      padding: 0px 3px;
      position: relative;
    }

    .seats {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        }
        
        .seat {
          display: flex;
          padding: 0px 2px;
          position: relative;
        }