<ngx-spinner bdColor = "rgba(60,55,55,0.8)" size = "large" color = "#fff" type = "ball-clip-rotate-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="auth-wrapper" style="background-image:url(../../assets/images/login-bg01.jpg)">
    <div class="auth-content text-center">
      <img src="assets/images/odbus-logo.svg" alt="" class="img-fluid mb-4">
      <div class="card borderless">
        <div class="row align-items-center text-center">
          <div class="col-md-12">
            <div class="card-body" *ngIf="!OtpData">
                    <h4 class="mb-3 f-w-400">Forget Password</h4>
                    <form [formGroup]="forgotPasswordForm" class="editForm" (ngSubmit)="onSubmit()">
                      <div class=" mb-3">
                        <input type="email" class="form-control" formControlName="email" placeholder="Email address">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div class="log-left" *ngIf="f.email.errors.required">Email ID is required</div>
                          <div class="log-left" *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                      </div>

                      <button class="btn btn-block btn-primary mb-4" type="submit">Send OTP</button>
                     
                    
                    </form>
            </div>

            <div class="card-body" *ngIf="OtpData && verifyStatus == false">
              <h4 class="mb-3 f-w-400">OTP</h4>
              <form [formGroup]="otpForm" class="editForm" (ngSubmit)="onSubmitOtp()">
                <div class=" mb-3">
                  <input type="email" class="form-control" formControlName="otp" placeholder="Enter otp">
                  <div *ngIf="Otpsubmitted && fo.otp.errors" class="invalid-feedback">
                    <div class="log-left" *ngIf="fo.otp.errors.required">OTP is required</div>
                  
                </div>
                </div>

                <button class="btn btn-block btn-primary mb-4" type="submit">Verify OTP</button>
               
              
              </form>
      </div>


      <div class="card-body" *ngIf="verifyStatus==true">
        <h4 class="mb-3 f-w-400">Reset Password</h4>
        <form [formGroup]="resetForm" class="editForm" (ngSubmit)="onSubmitResetPassword()">
          <div class=" mb-3">
            <input type="password" class="form-control" formControlName="password" placeholder="Enter Password">
            <div *ngIf="Resetsubmitted && rf.password.errors" class="invalid-feedback">
              <div class="log-left" *ngIf="rf.password.errors.required">Password is required</div>
            
          </div>
          </div>

          <div class="mb-3">
            <input type="password" class="form-control" formControlName="confirm_password" placeholder="Enter Password">
            <div *ngIf="Resetsubmitted && rf.confirm_password.errors" class="invalid-feedback">
              <div class="log-left" *ngIf="rf.confirm_password.errors.required">Confirm Password is required</div>
              <div class="log-left"  *ngIf="rf.confirm_password.errors.mustMatch">Password and Confirm Password must be match.</div>
            
          </div>
          </div>

          <button class="btn btn-block btn-primary mb-4" type="submit">Change Password</button>
         
        
        </form>
     </div>

          </div>
        </div>
      </div>
    </div>
  </div>