<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<style>
    .form-group {
    margin-bottom: 5px !important;
}


.card {
    border-top: 0px solid #8CDDCD;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 600px) {
    h4 {
    font-size: 14px;
    }
    .btn-primary {
    min-height: 140px;
}
}

</style>


<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="Owner Dashboard" cardClass="card-datatable" [options]="false" [isCardFooter]="false">

            <!-- <div class=" mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body" style="background: lightsteelblue;">
                              <h5 class="card-title">Today's Journey PNR</h5>
                              <p class="card-text">22</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body" style="background: lightsteelblue;">
                              <h5 class="card-title">Upcoming PNR</h5>
                              <p class="card-text">33</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body" style="background: lightsteelblue;">
                              <h5 class="card-title">Total Buses</h5>
                              <p class="card-text">2 Active/1 Inactive</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body" style="background: lightsteelblue;">
                              <h5 class="card-title">Cancel Bus/Buses</h5>
                              <p class="card-text">5</p>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div> -->
            <div class=" mb-3">
                <div class="row p-0">
                    <div class="col-md-3 col-6">
                        <div class="card">
                            <a [routerLink]="['/reports/completeReport']"  >
                                <img class="card-img-top" src="../../assets/images/BOOKING-REPORT.svg" alt="Card image cap">
                                <!-- <h4 class="text-center"> <b>BOOKING REPORT</b></h4> -->
                            </a>
                        </div>
                    </div>
                    <!-- class="btn btn-primary" -->
                    <div class="col-md-3 col-6">
                        <div class="card">
                            <a [routerLink]="['/bookingmanagement/buscancellation']"  >
                                <img class="card-img-top" src="../../assets/images/BUS-CANCEL.svg" alt="Card image cap">
                                <!-- <h4 class="text-center"> <b>BUS CANCEL</b></h4> -->
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="card">
                            <a [routerLink]="['/bookingmanagement/seatblock']" >
                                <img class="card-img-top" src="../../assets/images/SEAT-BLOCK.svg" alt="Card image cap">
                                <!-- <h4 class="text-center"> <b>SEAT BLOCK</b></h4> -->
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="card">
                            <a [routerLink]="['/bookingmanagement/seatopen']" >
                                <img class="card-img-top" src="../../assets/images/SEAT-OPEN.svg" alt="Card image cap">
                                <!-- <h4 class="text-center"> <b>SEAT OPEN</b></h4> -->
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="card">
                            <a [routerLink]="['/bookingmanagement/extraseatblock']" >
                                <img class="card-img-top" src="../../assets/images/EXTRA-SEAT-BLOCK.svg" alt="Card image cap">
                                <!-- <h4 class="text-center"> <b>EXTRA SEAT BLOCK</b></h4> -->
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="card">
                            <a [routerLink]="['/busmanagement/busschedule']" >
                                <img class="card-img-top" src="../../assets/images/BUS-SCHEDULE.svg" alt="Card image cap">
                                <!-- <h4 class="text-center"> <b>BUS SCHEDULE</b></h4> -->
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="card">
                            <a [routerLink]="['/bookingmanagement/ownerfare']" >
                                <img class="card-img-top" src="../../assets/images/MANAGE-FARE.svg" alt="Card image cap">
                                <!-- <h4 class="text-center"> <b> Manage Fare</b></h4> -->
                            </a>
                        </div>
                    </div>
                </div>
            </div>            
        </app-card>
    </div>
</div>


