.form-group {
        margin-bottom: 5px !important;
    }


.card {
    border-top: 0px solid #8CDDCD;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 600px) {
    h4 {
        font-size: 14px;
    }
    .btn-primary {
        min-height: 140px;
    }
}