/* You can add global styles to this file, and also import other style files */
@import "scss/style";
@import '../node_modules/angular-archwizard/archwizard.css';
.pointer{
    cursor: pointer;
}
img#main-logo {
    width: 100%;
}


@import "~@ng-select/ng-select/themes/default.theme.css";
body {
  padding: 20px;
}
a.active.page-link {
  background: #2ecc71;
  color: #FFF;
}
@media print {
  .hide_print {
    display: none !important;
  }
}

.user-profile-list table tr td
{
  border-bottom: 1px solid #e3eaef;
}
.user-profile-list table tr th
{
  border-bottom: 2px solid #e3eaef;
}

.card-header {
    padding: 8px 1.25rem;
}

.serch-btn{
  margin: 0 auto;
    display: table;
} 

 .no-bdr{
  border: none !important;
 }

// ::ng-deep .datelist label input[type="checkbox"][disabled] 
// {
// background-color: #d30101f2 !important;
// cursor:not-allowed !important;
// }
.datelist [type="checkbox"]:not(:checked):disabled+span:not(.lever):before {
  border: none;
  background-color: red;
  width: 15px;
  height: 15px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  
}
.datelist [type="checkbox"]:not(:checked):disabled{
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.datelist [type="checkbox"]:not(:checked):disabled+span{
margin-left: 1px;
}


.pcoded-header .m-header .mobile-menu {
  right: auto;
  left: 10px;
  z-index: 999999 !important;
}
@media only screen and (max-width: 599px) {
  .m-text-center {
    text-align: center;
    margin: 0 auto;
  }
  .serch-btn {
    margin: 15px auto;
  }
  .col-sm-2.offset-md-10 {
    margin-top: 20px;
  }
}
