/* You can add global styles to this file, and also import other style files */
@import "scss/style";
@import '../node_modules/angular-archwizard/archwizard.css';
.pointer{
    cursor: pointer;
}
img#main-logo {
    width: 100%;
}


@import "~@ng-select/ng-select/themes/default.theme.css";
body {
  padding: 20px;
}
a.active.page-link {
  background: #2ecc71;
  color: #FFF;
}
@media print {
  .hide_print {
    display: none !important;
  }
}

.user-profile-list table tr td
{
  border-bottom: 1px solid #e3eaef;
}
.user-profile-list table tr th
{
  border-bottom: 2px solid #e3eaef;
}

.card-header {
  padding:8px 1.25rem;
  
}


// ::ng-deep .datelist label input[type="checkbox"][disabled] 
// {
// background-color: #d30101f2 !important;
// cursor:not-allowed !important;
// }
.datelist [type="checkbox"]:not(:checked):disabled+span:not(.lever):before {
  border: none;
  background-color: red;
  width: 15px;
  height: 15px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  
}
.datelist [type="checkbox"]:not(:checked):disabled{
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.datelist [type="checkbox"]:not(:checked):disabled+span{
margin-left: 1px;
}
